.Container {
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.RadioButton {
  height: 20px;
  width: 20px;
  border-radius: 20px;
}

.OuterSelected {
  height: 20px;
  width: 20px;
  border-radius: 20px;
  border-width: 1px;
  justify-content: center;
  align-items: center;
  border-color: var(--color-text)
}

.InnerSelected {
  height: 15px;
  width: 15px;
  border-radius: 15px;
  background-color: var(--color-text);
}

.Unselected {
  border-width: 1px;
  border-color: var(--color-text);
}
